<app-header></app-header>
<section class="hero">
    <div class="hero-content">
      <div *ngIf="restaurant">
      <h1>{{ restaurant.name }}</h1>
      <p>{{ restaurant.description }}</p>
      <button class="cta-button" (click)="goToMenu()">See Menu</button>
    </div>
  </div>
    <div class="hero-image">
      <img [src]="restaurant.image_url" alt="{{ restaurant.name }}">
    </div>
</section>
<app-comments
  *ngIf="restaurant"
  [restaurantId]="restaurant.id">
</app-comments>
<app-footer></app-footer>