<script>
    function myfunction() {
    }
</script>
<header>
    <nav class="navbar">
        <div class="logo">
            <a routerLink="/home" class="logo">
                <span class="logo-dine">Dine</span><span class="logo-go">Go</span>
            </a>
        </div>
        <div class="links">
            <a routerLink="/home">Home</a>
            <a *ngIf="!isAuthenticated" (click)="login()">
                Login
            </a>
            <a *ngIf="isAuthenticated" (click)="logout()">
                Logout
            </a>  
        </div>     
    </nav>
</header>
    