<script>
    function myfunction() {
    }
</script>
<header>
    <nav class="navbar">
        <div class="logo">
            <a routerLink="/home">DineGo</a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/info">Info</a></li>
            <li><a routerLink="/menu">Menu</a></li>
            <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <img class="login-button" src='login.png' onclick='myfunction()'>
    </nav>
</header>
    