header {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .logo-dine {
    color: #ff7700;
  }
  
  .logo-go {
    color: rgb(255, 0, 0);
  }
  
  .login-button {
    width: 40px;
    height: 40px;
  }

  a {
    cursor: pointer;
  }