<app-header-main></app-header-main>
<h2 class="restaurant-heading">Our Restaurants</h2>
<div class="search-container">
  <input [(ngModel)]="searchTerm" type="text" placeholder="Search by name" class="search-input" />
  <button (click)="searchRestaurants()" class="search-button">Search</button>
</div>

<div *ngIf="filteredRestaurants.length === 0 && searchTerm.trim() !== ''" class="no-results">
  <p>There is no such restaurant.</p>
</div>
<div class="restaurant-container">  
  <div *ngFor="let restaurant of filteredRestaurants" class="restaurant-card">
    <div class="restaurant-card-content">
      <h3 class="restaurant-name">{{ restaurant.name }}</h3>
      <button class="view-button" (click)="goToRestaurantDetail(restaurant.id)">View Details</button>
    </div>
  </div>
</div>


